name: Release

on:
  push:
    branches: ['main']

jobs:
  static-checks:
    name: Run Static Analysis Checks
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    permissions:
      security-events: write
    with:
      matrix_commands: '["lint", "depcheck"]'

  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    permissions:
      pull-requests: write
    with:
      coverage: false
      docker_compose_file: ''
      npm_build_command: npm run build
      tests: '["test"]'

  check-version:
    name: 'Check version'
    uses: digicatapult/shared-workflows/.github/workflows/check-version.yml@main
    permissions: {}

  generate-sbom-npm:
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    permissions: {}
    with:
      additional_args: "--ignore-npm-errors"
      enable_check_version: true
      enable_dtrack_project: true
      sbom_output_file: ${{ github.event.repository.name }}.cdx.json
    secrets:
      DTRACK_APIKEY: ${{ secrets.DTRACK_APIKEY }}
      DTRACK_HOSTNAME: ${{ secrets.DTRACK_HOSTNAME }}

  publish:
    needs: [check-version, generate-sbom-npm, tests]
    uses: digicatapult/shared-workflows/.github/workflows/release-github.yml@main
    permissions:
      contents: write
      pull-requests: read
    with:
      get_sbom: true
