name: Lint and Test

on:
  push:
    branches-ignore: ['main']

jobs:
  static-checks:
    name: Run Static Analysis Checks
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck"]'

  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      coverage: true
      docker_compose_file: ''
      tests: '["test"]'

  check-version:
    name: 'Check version'
    uses: digicatapult/shared-workflows/.github/workflows/check-version.yml@main

  generate-sbom-npm:
    permissions:
      contents: read
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    with:
      additional_args: "--ignore-npm-errors"
